
:root {

  /* HSL Colors -- For Transparency use hsla( var(--clr-pri-3), 0.5 ); */
  
  --clr-primary-1 : 202, 14%, 95%;
  --clr-primary-2 : 202, 14%, 90%;
  --clr-primary-3 : 202, 14%, 80%;
  --clr-primary-4 : 202, 14%, 50%;
  --clr-primary-5 : 202, 14%, 50%;
  --clr-primary-6 : 202, 14%, 25%;
  --clr-primary-7 : 202, 14%, 10%;

  --clr-secondary-1 : 360, 40%, 95%;
  --clr-secondary-2 : 360, 40%, 90%;
  --clr-secondary-3 : 360, 40%, 85%;
  --clr-secondary-4 : 360, 40%, 75%;
  --clr-secondary-5 : 360, 40%, 50%;
  --clr-secondary-6 : 360, 40%, 30%;
  --clr-secondary-7 : 360, 40%, 20%;

  /* --clr-secondary-1 : 220, 86%, 95%;
  --clr-secondary-2 : 220, 86%, 90%;
  --clr-secondary-3 : 220, 86%, 85%;
  --clr-secondary-4 : 220, 86%, 75%;
  --clr-secondary-5 : 220, 86%, 50%;
  --clr-secondary-6 : 220, 86%, 30%;
  --clr-secondary-7 : 220, 86%, 20%; */

  --clr-tertiary-1 : 21, 13%, 98%;
  --clr-tertiary-2 : 21, 13%, 90%;
  --clr-tertiary-3 : 21, 13%, 80%;
  --clr-tertiary-4 : 21, 13%, 65%;
  --clr-tertiary-5 : 21, 13%, 50%;
  --clr-tertiary-6 : 21, 13%, 20%;
  --clr-tertiary-7 : 21, 13%, 10%;

  /* Font Sizes */    
  --font-size-0 : clamp(0.7rem, 1vw, 1rem);
  --font-size-1 : clamp(0.9rem, 1.5vw, 1.2rem);
  --font-size-2 : clamp(1.05rem, 2vw, 1.8rem);
  --font-size-3 : clamp(1.25rem, 2.7vw, 2.4rem);
  --font-size-4 : clamp(1.5rem, 4vw, 3rem);
  --font-size-5 : clamp(1.75rem, 5vw, 3.5rem);
  --font-size-6 : clamp(2rem, 6vw, 4rem);
  --font-size-7 : clamp(2.25rem, 7vw, 5rem);

  /* Global/Default Elements */
  --font-default : Poppins, Helvetica, Arial, sans-serif;

  /* Margin/Padding defaults */
  --padding-x-default : 2vw;
  --padding-y-default : 3rem;

  /* Max Container Widths */
  --width-ex-small : 750px;
  --width-small : 900px;
  --width-default : 1200px;
  --width-large : 1600px;

  /* Navbar Elements */
  --navbar-position : relative;
  --navbar-inset : auto;
  --navbar-scroll-padding : 100px 0 0 0;

  /* Animation Snippets */
  --cubic-bez : cubic-bezier(.28,1.09,.77,.91)
}