

/* Layering */

.hero-bg-circles    { z-index : 20; }
.hero-cta-wrapper   { z-index : 40} /* must be between 2 bgs */
.hero-bg            { z-index : 35; }
.hero-intro-wrapper { z-index : 50; }
.socials-wrapper    { z-index : 60; }
.main-nav           { z-index : 100; }

@media screen and (min-width : 1000px) {
  .hero-cta-wrapper   { z-index : 30} /* must be between 2 bgs */
}




/* Used for hero intersection observer to determine when to show/hide hero */
.hero-observer {
  position: relative;
  z-index: -1;
  height : 35vh;
  margin-bottom : 35vh;
}


/* Disable pointer events to make hero links clickable */

.hero-bg-circles, 
.hero-bg,
.hero-bg-main,
.hero-bg-video video, 
.hero-bg-image img, 
.socials-wrapper {
  pointer-events: none;
}




/* 

Hero Elements in order LTR

*/




/* Circle Background */




.body-state-hero
.hero-bg-circles {
  position : fixed;
  inset : 0 auto 0 50%;
  transform: translateX(-50%);
  width : 100%;
  max-width: var(--width-default);

  background-color: hsl(0, 0%, 97%);
  background-image: url(../img/bg/circles.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.body-state-content
.hero-bg-circles {
  display : none;
}




/* Main Hero Background  */



.body-state-hero
.hero-bg {
  position: fixed;
  inset : 0 auto 0 50%;
  transform: translateX(-50%);

  width : 100%;
  max-width : var(--width-default);

}

.body-state-content 
.hero-bg {
  display : none;
}

.hero-bg-main {
  position: absolute;
  width : 75%;
  height : 100vh;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);;
}

@media screen and (min-width : 700px) {
  .hero-bg-main { width : 50%; }
}


.hero-bg-video video {
  position: absolute;
  inset : 0;

  height : 100vh;
  opacity: 0.2;
}

.hero-bg-image img {
  position: absolute;
  inset : 0;
  min-height : 100vh;
  transform: rotate(10deg) scale(1.5);
  
  mix-blend-mode: exclusion;
}






/* Socials */


.socials-wrapper {
  position: fixed;
  left : -200%;
}

.body-state-content
.socials-wrapper {
  display : none;
}


@media screen and (min-width : 700px) {

.body-state-hero
.socials-wrapper {
  inset : auto auto 0 50%;
  transform: translateX(-50%);

  width : 100%;
  max-width: var(--width-default);
}

.body-state-hero
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap : 1.2rem;
  
  width : 75px;

  padding-block : 1rem;

  background-color: hsl(219, 36%, 95%);
}


.body-state-hero
.socials-heading {
  min-height: max-content;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  transform: rotate(180deg);
}

.socials-icon {
  pointer-events: all;
}

} /* END @media min width */





/* Hero Intro */



.body-state-hero
.hero-intro-wrapper {
  position : fixed;
  inset : 20% 0 auto 50%;
  transform: translateX(-50%);
  width : 100%;
  max-width: var(--width-default);
}

.body-state-content
.hero-intro-wrapper {
  display : none;
}

.hero-intro {
  margin-left : 2vw;
  padding-left : 2vw;
}

@media screen and (min-width : 700px) {
  .hero-intro { margin-left : 150px; }
}

.hero-intro span {
  position: relative;
  display : block;
  padding : 0.5rem;
  margin-block : 1rem;
  width : max-content;
  background-color: #000;

}

.hero-intro span::before {
  content: '';
  position: absolute;
  inset : 0;
  z-index: -1;
  transform: translateX(0.5rem) translateY(0.5rem);
  background-color: #314468;
}

.hero-intro-arrow {
  display : none;
}

@media screen and (min-width : 700px) {
  .hero-intro-arrow { display : block; }
}





/* Hero Call to Action */



.body-state-hero
.hero-cta-wrapper {
  position: fixed;
  inset : auto auto 10% 50%;
  transform: translateX(-50%);

  width : 100%;
  max-width: var(--width-default);
  pointer-events: all;
}

.body-state-content
.hero-cta-wrapper {
  display : none;
}

.hero-cta {
  display: flex;
  width : auto;
  
  justify-content: end;
  align-items: center;
  background-color: #EEF1F7;
}

.hero-cta-intro {
  padding : 1rem;
  font-weight: 700;
}

@media screen and (min-width : 700px) {
  .hero-cta-intro { width : auto; }
}


.hero-cta-link {
  overflow: hidden;
  pointer-events: all;
  max-width: 200px;
}

.hero-cta-link a {
  display : inline-block;
  padding : 2rem 1rem;
  height : 100%;
  color : #F16161;
  font-weight: 700;
  transition : all 200ms var(--cubic-bez);
  
  pointer-events: all;
}

.hero-cta-link a:hover,
.hero-cta-link a:focus {
  background-color: hsl(219, 36%, 10%);
  color : #fff;
}

.hero-cta-primary {
  border-left : 1px solid #333;
  border-right : 1px solid #333;
}
