.main-header-wrapper {
  position: fixed;
  z-index : 110;
  inset : 0;
  pointer-events: none;
}

.main-header {
  position: relative;
  max-width: 1200px;
  min-height : 100vh;
  margin-inline : auto;
  background-image: url(../img/bg/circles.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.logo{
  position: absolute;
  top : 2rem;
  left : 175px;
}