.hero-wrapper {
  position : relative;
  min-height : 100vh;
  display : grid;
  place-items: center;
  padding-inline: 1rem;
}

.hero-wrapper-bg {
  content: '';
  position: fixed;
  inset : 50% auto auto 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width : 65%;
  height : 50%;
  background-color: hsl( var(--clr-primary-2) );
}

.hero-section {
  display : grid;
  grid-template-columns: 1fr 1fr;
}

.hero-main-heading-small {
  font-size: var(--font-size-1);
}

.h1-highlight {
  color : hsl( var(--clr-secondary-4) );
}

.hero-subheading {
  max-width: 40ch;
  font-size: var(--font-size-1);
  line-height: var(--font-size-3);
}

.hero-cta-btn-primary,
.hero-cta-btn-secondary {
  display : inline-block;
  padding : 0.5rem 1rem;
}

.hero-cta-btn-primary {
  background-color: hsl( var(--clr-secondary-4) );
  color :hsl( var(--clr-primary-1) )
}

.hero-cta-btn-secondary {
  color :hsl( var(--clr-secondary-4) )
}
