.hero-wrapper {
  position: fixed;
  z-index : 100;
  inset : 0;
  pointer-events: none;
}

.hero {
  position: relative;
  max-width: 1200px;
  min-height : 100vh;
  margin-inline : auto;
  pointer-events: none;
}

.hero-intro {
  position: absolute;
  top : 40%;
  left : 175px;
  transform: translateY(-50%);
}

.hero-intro span {
  position: relative;
  display : block;
  padding : 0.5rem;
  margin-block : 1rem;
  width : max-content;
  background-color: #000;

}

.hero-intro span::before {
  content: '';
  position: absolute;
  inset : 0;
  z-index: -1;
  transform: translateX(0.5rem) translateY(0.5rem);
  background-color: #314468;
}

.hero-cta {
  position: absolute;
  inset : auto 0 10% 0;
  z-index : -1;
  display : flex;
  justify-content: end;
  align-items: center;
  background-color: #EEF1F7;
}

.hero-cta-intro {
  padding : 1rem;
  font-weight: 700;
}

.hero-cta-link {
  overflow: hidden;
}

.hero-cta-link a {
  position: relative;
  z-index: 9999;
  display : block;
  padding : 2rem;
  height : 100%;
  pointer-events: all;
  color : #F16161;
  font-weight: 700;
  transition : all 200ms cubic-bezier(.28,1.09,.77,.91);

}

.hero-cta-link a:hover,
.hero-cta-link a:focus {
  background-color: hsl(219, 36%, 10%);
  color : #fff;
}

.hero-cta-primary {
  border-left : 1px solid #333;
  border-right : 1px solid #333;
}

.hero-bg {
  position: absolute;
  top : 0;
  left : 0;
  z-index : -1;
  width : 50%;
  height : 100%;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);;
}

.hero-bg-video {
  position: relative;
  z-index: 1;
}

.hero-bg-video video {
  height : 100vh;
  opacity: 0.2;
}

.hero-bg-image img {
  position: absolute;
  top : 0;
  left : 0;
  z-index : 1;
  min-height : 100vh;
  mix-blend-mode: exclusion;
  transform: rotate(10deg) scale(1.3);
}

