


/* nav wrapper */

.main-nav {
  position: fixed;
  inset : 0 auto auto 50%;
  z-index : 10;
  transform: translateX(-50%);
  width : 100%;
  max-width: var(--width-default);
  padding : 2rem 1rem 0 1rem;
  display : flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: hsl( var(--clr-primary-2), .95 );
  border-bottom : 1px solid hsl( var(--clr-primary-3) );

  animation: main-nav 500ms linear;
}

@keyframes main-nav {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media screen and (min-width : 700px) {
  .main-nav {
    align-items: end;
  }
}




/* logo */

.logo-link {
  position: relative;
  color : hsl( var(--clr-primary-7) );
  font-family: 'Sharp Grotesk', Poppins, sans-serif;
  font-size: var(--font-size-3);
  font-weight: 600;
  transition: all 150ms ease-in-out;
}

.logo-link:hover {
  background: none;
  color :hsl( var(--clr-secondary-6) );
}

.logo-link::before {
  content: '';
  position: absolute;
  inset : 20% 60% -1rem -1rem;
  z-index : -1;
  background-color: hsl( var(--clr-primary-3) );
  transition: all 150ms ease-in-out;
}

.logo-link:hover::before {
  inset : -20% -1rem -20% 60%;
  background-color: hsl( var(--clr-secondary-3) );
}




/* mobile menu button */

@media screen and (min-width : 700px) {
  .mobile-menu-btn {
    display : none;
  }
}




/* menus wrapper */

.menus {
  display : none;
}

@media screen and (min-width : 700px) {
  .menus {
    display: block;
  }
}



/* socials ul */

/* Desktop */
.socials {
  display : flex;
  justify-content: end;
  gap : 2rem;
  padding-block : 0.5rem;
}




/* menu ul */

.menu {
  display : flex;
  gap : 2rem;
  font-size: var(--font-size-1);
}




/* menu links */
.nav-link {
  color : hsl( var(--clr-primary-7) );
}

.nav-link:hover {
  color : hsl( var(--clr-primary-7) );
  background-color: transparent;
}



/* menu highlight */

.menu-highlight {
  position: fixed;
  top : -10vw;
  left : -10vh;
  z-index: 200;
  width : 50px;
  height : 50px;
  border-radius: 5px;
  backdrop-filter: invert(100) blur(1px);
  transform: translateY(-50%);
  pointer-events: none;
}