
.skills {
  padding-block: 3rem;
}

.skill-list-wrapper {
  overflow: hidden;
}
.skill-list {
  word-spacing: 1rem;
  font-size: var(--font-size-1);
}

@media screen and (min-width : 700px) {
  .skill-list {
    white-space: nowrap;
  }

  .skill-list::after {
    content: attr(data-skill-list);
  }
}
