
.skills {
  padding-block: 3rem;
}

.skill-list-wrapper {
  overflow: hidden;
}

.skill-list {
  white-space: nowrap;
  word-spacing: 1rem;
  font-size: var(--font-size-1);
}

.skill-list::after {
  content: attr(data-skill-list);
}